@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Share Tech', sans-serif;
  min-width: 320px;
}

.strongColor {
  color: #01936E;
}